<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>XXXXX系統</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet" type="text/css">

    <!-- DataTables CSS -->
    <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css"/>

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>

    <!--<link href="/static/dist/css/layer.css" rel="stylesheet">-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.min.js'%}"></script>
    <![endif]-->

</head>
<style>
    .page-header {
        margin: 20px 0px 20px;
    }
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 154px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
  }
    body{
        font-size: 12px;
    }
    .hid{
        display: none;
    }
    .hidurl{
        display: none;
    }
</style>
</html>