<!DOCTYPE html>
<html lang="en">
{% include "public/header.html" %}
<style>
    .page-header {
        margin: 20px 0px 20px;
    }
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 154px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
  }
    body{
        font-size: 12px;
    }
    .hid{
        display: none;
    }
    .hidurl{
        display: none;
    }
</style>
<body>
    <div id="wrapper">
        {% include "public/nav.html" %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">頁面說明</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body" id = 'DTable'>
                        <table>
                            <tr>
                                <td>
                                    <input  style="width: 100px" type="button"  class="btn btn-success" value="添加" onclick="addBody()">
                                </td>
                                <td>
                                    &nbsp;&nbsp;
                                </td>
                                <td>
                                    <input  style="width: 100px" type="button"  class="btn btn-success" value="獲取當前頁" onclick="getPage()">
                                </td>
                                <td>
                                    &nbsp;&nbsp;
                                </td>
                                <td>
                                    <input  style="width: 100px" type="button"  class="btn btn-danger" value="選擇刪除" onclick="deleteBodys()">
                                </td>
                            </tr>
                        </table>
                        <table  width='100%' class='table table-striped table-bordered table-hover' id='CityTable'>
                            <thead align='center'>
                                <tr>
                                    <td>
                                        <input type='checkbox' name='user' id='user' onclick='qsel(this)'>
                                    </td>
                                    <td>ID</td>
                                    <td>中文全稱</td>
                                    <td>英文簡寫</td>
                                </tr>
                            </thead>
                            <tbody align='center' id='cityTableBody'>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "public/foot.html" %}
    <script>

    <!--表格樣式修改-->
    function putCss(){
        $('#CityTable').DataTable({
            // bInfo:false,     //啟用或禁用表格信息顯示
            // bPaginate:false, //啟用或禁用分頁
            // bFilter:false,//啟用或禁用搜索功能
            // bLengthChange:false,//允許最終用戶從選擇菜單中選擇格式化頁面的大小
            // sScrollX:'100%',//啟用水平滾動,啟用滾輪會默認不分頁
            // aaSorting:[
            //    [1,"asc"]
            // ],           //啟用排序時,按照指定列排序
            responsive: true,
            iDisplayLength:100,//設置每頁顯示的數據條數
            bSort:false,     //啟用或禁用列的排序
            sScrollY:'300px',//啟用垂直滾動，啟用滾動會默認不分頁
            bProcessing:true,//使用分頁時在單個頁面上顯示的行數
            bAutoWidth:false,//啟用或禁用自動列寬計算
            lengthMenu:[100,200,500],//設置格式化頁面的大小
            oLanguage:{
               sLengthMenu:'每頁顯示_MENU_條記錄',
               sZeroRecords:'沒有檢索到數據',
               sInfo:'從_START_到_END_/共_TOTAL_條數據',
               sInfoEmpty:'沒有數據',
               sInfoFiltered:"(從_MAX_條數據中檢索)",
               oPaginate:{
                   sFirst:'首頁',
                   sPrevious:'前一頁',
                   sNext:'後一頁',
                   sLast:'尾頁'
               },
           }  //國際化
        });
    }

    /*網頁打開,生成表格,ajax異步加載數據*/
    $(document).ready(function() {
        $.ajax({
            url: "../getAllCity/",
            type: "get",
            dataType: "json",
            success: function (res){
                if(res.status){
                    tableHtml = "";
                    for (var i = 0; i < res.message.length; i++) {
                        tableHtml = tableHtml +
                                    "<tr>" +
                                    "<td align='center'>" + "<input type='checkbox' name='userlist'>" + "</td>";
                                    for(j=0;j<res.message[i].length;j++){
                                        tableHtml = tableHtml + "<td>" + res.message[i][j] + "</td>"
                                    }
                        tableHtml = tableHtml + "</tr>";
                    }
                    $("#cityTableBody").append(tableHtml);
                    /*將表內修改添加進表格中*/
                    clickChange();
                    putCss();
                }else{
                    layer.msg(res.message, {icon: 2});
                    putCss();
                }
            }
        });
    });

    <!--添加一欄位-->
    function addBody(){
        var trHtml = '';
        trHtml = trHtml +
        "<tr id='foot'>"+
        "<td align='center'>" + "<input type='checkbox' name='userlist'>" + "</td>"+
        "<td>"+"<input type='text' style='border: none;width:100%' disabled>"+"</td>"+ //disabled保證此欄不被選擇，因為ID為自增長
        "<td>"+"<input type='text' style='border: none;width:100%' onblur='addOneRow(this)'>"+"</td>"+
        "<td>"+"<input type='text' style='border: none;width:100%' onblur='addOneRow(this)'>"+"</td>"+
        "</tr>";
        $("#CityTable").find('#cityTableBody').append(trHtml);
        /*定位到新添加的欄位*/
        document.getElementById('foot').scrollIntoView();
    }

    <!--對要添加的一欄進行操作-->
    function addOneRow(obj){
        var len = $(obj).parent().parent().find('input').length;
        var data = [];
        for(i = 2;i < len; i++){
            var val = $(obj).parent().parent().find('input')[i].value.trim();
            data.push(val);
        }
        if(data[0]!="" && data[1]!=""){
            layer.confirm('確認添加？',function(index) {
                var json1 = JSON.stringify(data);
                $.ajax({
                    url:"../addCity/",
                    data:{data1:json1},
                    type:"POST",
                    dataType:"json",
                    cache:false,
                    success : function(data) {
                       if(data.status){
                           layer.msg(data.message,{icon:1});
                           setTimeout(
                               function(){
                                  location.href = "{% url 'html:showHtml'%}"
                               },2000
                           )
                       }else{
                           layer.msg(data.message, {icon: 2});
                       }
                    }
                });
            })
        }else{
            layer.msg('中文全稱或英文簡寫不能為空！', {icon: 2});
        }
    }

<!--表內單列修改-->
    function clickChange(){
        $("#dataTables-example td:nth-child(4)").click(function(){
            var citrixID = $(this).parents('tr').find('td')[1].innerText;
            $(this).editable({
                type:"text",
                title:$(this).text(),
                disabled:false,
                emptytext:"空文本",
                mode:"inline",
                validate:function(value){
                    if(!$.trim(value)){
                        return '不能為空！';
                    }else{
                        $.ajax({
                            url:"../updateOneData/",
                            data:{citrixID:citrixID,value:value},
                            type:"POST",
                            dataType:"json",
                            cache:false,
                            success : function(data) {
                                if(!data.status){
                                    layer.msg(data.message,{icon:2});
                                }
                            }
                        });
                    }
                }
            })
        });
    }

    /*表內全欄位修改*/
    /*$("#CityTable tbody td").click(function(){
            $(this).editable({
                type:"text",
                title:$(this).text(),
                disabled:false,
                emptytext:"空文本",
                mode:"inline",
                validate:function(value){
                    if(!$.trim(value)){
                        return '不能為空！';
                    }
                }
            })
      });*/

<!-- 全選操作 -->
    function qsel(obj){
        var sta = obj.checked;
        var arr=document.getElementsByName("userlist");
        for(var i= 0;i<arr.length;i++){
            arr[i].checked=sta;
        }
    }

<!--通過選中進行操作-->
    function deleteBodys(){
        layer.confirm('確認刪除？',function(index) {
            var idList = [];
            $('input[name="userlist"]:checked').each(function(){
                var tr = this.parentNode.parentNode;
                var tds = tr.cells;
                idList.push(tds[1].innerHTML);
            });
            idList = JSON.stringify(idList);
            $.ajax({
                url:"../deleteCity/",
                data:{idList:idList},
                type:"POST",
                dataType:"json",
                cache:false,
                success : function(data) {
                   if(data.status){
                       layer.msg(data.message,{icon:1});
                       setTimeout(
                           function(){
                              location.href = "{% url 'html:showHtml'%}"
                           },2000
                       )
                   }else{
                       layer.msg(data.message, {icon: 2});
                   }
                }
            });
        });
        /*得到被選中的欄位的所有信息*/
        /*var datas = [];
        $('input[name="userlist"]:checked').each(function () {
            var tr = this.parentNode.parentNode;
            var tds = tr.cells;
            var data =[];
            for(var i =1;i<tds.length-1;i++){
                data.push(tds[i].innerHTML);
            }
            datas.push(data);
        });
        alert(datas);*/
    }

    <!--獲取當前頁面上表格內的所有數據-->
    function getPage(){
        var tab = document.getElementById("CityTable");
        var rows = tab.rows;
        var list1 = [];
        for(var i =1;i<rows.length;i++){
            var list2=[];
            for(var j=1;j<rows[i].cells.length-1;j++){
                var cell = rows[i].cells[j];
                list2.push(cell.innerHTML);
            }
            list1.push(list2);
        }
        var json1 = JSON.stringify(list1);
        alert(json1);
    }
    </script>
</body>

</html>
